extends layout

block content
  
      .row
        .head_title.text-center
          h3 The most popular food
        .single_pakeg_one.text-right.wow.rotateInDownRight
          .col-md-6.col-md-offset-6.col-sm-8.col-sm-offset-4
            .single_pakeg_text
              .pakeg_title
                h4 Drinks
              ul
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
        .single_pakeg_two.text-left.wow.rotateInDownLeft
          .col-md-6.col-sm-8
            .single_pakeg_text
              .pakeg_title
                h4 Main course 
              ul
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
        .single_pakeg_three.text-left.wow.rotateInDownRight
          .col-md-6.col-md-offset-6.col-sm-8.col-sm-offset-4
            .single_pakeg_text
              .pakeg_title
                h4 Desserts
              ul
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 
                li  Tuna Roast Source........................................................$24.5 


