extends layout

block content
  .row.banner 
    .col-12 
      h1=title 
        small &nbsp;Popular Chinese Restaurant
  .row 
    .col-md-3
      img(src='images/p1.png' alt='') 
      .card
        
          h4 
            a(href='/location') Chao Mian
            small &nbsp;
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
    .col-md-3
      img(src='images/p2.png' alt='') 
      .card
        
          h4 
            a(href='/location') Walnut salad
            small &nbsp;
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
    .col-md-3
      img(src='images/p3.png' alt='') 
      .card
        
          h4 
            a(href='/location') Shanghai Roasted Chicken
            small &nbsp;
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star  
    .col-md-3
      img(src='images/p4.png' alt='') 
      .card
        
          h4 
            a(href='/location')  Spring Rolls
            small &nbsp;
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star        
              
          
    