extends layout

block content

  .row
      
        .col-md-6
          .single_abouts_text.text-center.wow.slideInLeft(data-wow-duration='1s')
            img(src='/images/ab.png' alt='')
        .col-md-6
          .single_abouts_text.wow.slideInRight(data-wow-duration='1s')
         
            h1 Visit Alice's food place
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stan
            p
              | dard dummy text ever since the 1500s,when an unknown printer to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesettingdard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            a.btn.btn-primary(href='') Order here

