extends layout
block content  
      .row
        .head_title.text-center
          h3 These are my the top selling books
        each book in popBook
          .col-md-6.col-sm-8                      
              .single_pakeg_text
                .pakeg_title
                  h5="NOT IMPLEMENTED"
