extends layout

block content
  h1=pageHeader.title
  .col-lg-6
    img(src='images/b1.png' alt='bookstore')
  .col-md-6 
     p=pageHeader.desc1
         <br><br><br>
   
  .col-md-6
     pp=pageHeader.desc1
         <br><br><br>
  
     a.btn.btn-primary(href='') Expore More            